<div class="row">
       <div class="col s12 m6 l6" ng-repeat="post in $ctrl.posts">
         <div class="card">
           <div class="card-image">
             <img src="{{post.item_image}}">
             <span class="card-title">{{post.title}}</span>
           </div>
           <div class="card-content">
             <p>{{post.description}}</p>
           </div>
           <div class="card-action">
             <a ui-sref="edit({id: post.id})">{{post.price}}</a>
           </div>
         </div>
       </div>
     </div>
