<form class="col s12 m6 l6" ng-submit="$ctrl.newItem($ctrl.newPost)">
    <div class="row">
      <div class="input-field col s6 m3 l3">
        <label for="title">Title</label>
        <input id="title" type="text" class="validate" ng-model="$ctrl.newPost.title" name="title" required>
      </div>
      <div class="input-field col s6 m3 l3">
        <label for="price">Price</label>
        <input id="price" type="tel" class="validate" ng-model="$ctrl.newPost.price" name="price" required>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <label for="description">Description</label>
          <textarea id="description" name="description" class="materialize-textarea validate" ng-model="$ctrl.newPost.description" required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <label for="image">Image</label>
          <input id="image" ng-model="$ctrl.newPost.item_image" class="validate" name="item_image" required>
        </div>
      </div>
    </div>
    <input type="submit" class="waves-effect waves-light btn">
  </form>
